<h1>Promjena lozinke</h1>

<p>Promijenite lozinku klikom na link:</p>

<%= link_to "Promjena lozinke", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Lijep pozdrav, <br>
  MSS tim.</p>